.clickable {
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 245px;
    left: 185px;
}

.popup-image {
    width: 100%;
}

.secret {
    position: absolute;
    top: 3%;
    right: 12%;
    color: #fff;
    opacity: 0.2;
    transform: rotate(30deg);
}

.caption {
    text-align: center;
}

.popup-desc {
    color: #fff;
}

.popup-desc-hidden {
    cursor: zoom-in;
    color: lightcoral;
    opacity: 0;
    transition-duration: 0.5s;
}

.popup-desc-hidden:hover {
    opacity: 1;
}
