body {
    background-image: url("img/festive22/Snow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.surprise {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.credit {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 1rem;
    opacity: 0.5;
}

.dragon {
    padding: 100px 0;
    position: relative;
}

.clickable {
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 245px;
    left: 185px;
}

p.footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: aliceblue;
    margin: 0;
    padding: 1rem;
}

#popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,30, 0.6);
    position: fixed;
    top: 0%;
    z-index: 1;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#popup.active {
    visibility: visible;
}

.wrapper {
    width: 80%;
    max-width: 500px;
    position: relative;
    background-color: rgba(0,0,30, 0.6);
}

.wrapper:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.popup-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.popup-image {
    width: 100%;
}

.secret {
    position: absolute;
    top: 3%;
    right: 12%;
    color: #fff;
    opacity: 0.2;
    transform: rotate(30deg);
}

.close-button {
    font-size: 1.5em;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: -25px;
    cursor: pointer;
    color: #fff;
}