.popup-content {
    padding: 2rem;
    overflow-y: scroll;
}

.label {
    font-size: 0.8rem;
    font-weight: bold;
    color: cadetblue;
}

.popup-text {
    color: #fff;
}

.secret-text {
    color: lightcoral;
    opacity: 0;
    transition-duration: 0.5s;
}

.secret-text:hover {
    opacity: 1;
}
