body {
    background-image: url("img/background2.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    background-color: rgba(0,30,0,0.5);
    color: #fff;
    padding: 72px 0;
}

.main .container .col {
    width: 100%;
}

.main h1 {
    font-weight: normal;
    font-size: 2rem;
    margin: 1rem 0;
}

@media screen and (min-width: 801px) {
    .main h1 {
        font-size: 3.5rem;
    }

    .main .container .col {
        width: 50%;
    }
}

.main .container {
    max-width: 900;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.dark-button {
    display: inline-block;
    padding: 0.75em;
    border: 3px solid #fff;
    transition-duration: 0.5s;
}

.dark-button:hover {
    background-color: #fff;
    color: #000;
}

.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: lightskyblue;
}