@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin: 0;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
}

a {
    text-decoration: none;
}

.festive {
    color: blue;
    font-weight: bold;
    transition-duration: 0.5s;
}

.festive:hover {
    font-size: 1.25rem;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.header {
    background-color: #fff;
    padding: 16px 0;
}

.header .container {
    height: 48px;
    display: flex;
    max-width: 1280px;
}

.branding a {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.branding logo {
    max-height: 48px;
}

.title {
    font-size: 1.33rem;
    font-weight: bold;
    color: #000;
}

.light {
    color: darkgray;
}

.current {
    background-color: #000;
    color: #fff;
}

.topnav {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
}

.topnav a, #sidenav a {
    cursor: pointer;
    float: right;
    padding: 4px 6px;
}

.topnav a {
    margin: auto 6px;
}

#sidenav a{
    width: 100%;
    margin: 0.5rem;
    float: left;
}

.show-menu, .hide-menu {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 1.33em;
    font-weight: bold;
    justify-content: flex-end;
}

.show-menu {
    display: inline;
    margin-right: 0;
    margin-left: auto;
}

.hide-menu {
    display: inline;
    float: right;
    padding: 1rem;
}

#sidenav {
    width: 200px;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0%;
    right: 0%;
    z-index: 1;
    visibility: hidden;
}

#sidenav.active {
    visibility: visible;
}

@media screen and (min-width: 801px) {
    .topnav {
        display: flex;
    }

    .show-menu {
        display: none;
    }

    #sidenav.active {
        visibility: hidden;
    }
}

.branding:hover, .topnav a:hover, #sidenav a:hover {
    opacity: 0.6;
}