.clickable {
    cursor: pointer;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 230px;
    left: 190px;
}

.popup-content {
    padding: 2rem;
    overflow-y: scroll;
}

.label {
    font-size: 0.8rem;
    font-weight: bold;
    color: cadetblue;
    display: block;
    margin-top: 1.5rem;
    margin-bottom: 0.3rem;
}

p.popup-text {
    color: #fff;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.image {
    display: block;
    cursor: zoom-in;
    width: 60%;
}

.secret-text {
    cursor: zoom-in;
    color: lightcoral;
    opacity: 0;
    transition-duration: 0.5s;
}

.secret-text:hover {
    opacity: 1;
}
